/*
 * KANBAN DRAG AND DROP GRID
 */
.BOARD {
    width                   : 100%;
    display                 : grid;
    grid-template-columns   : 0 repeat(6, minmax(320px, 1fr)); /* repeat # overridden on tag */
    grid-auto-rows          : max-content;
    grid-column-gap         : 1rem;
    grid-row-gap            : 0;
    padding                 : 0;
    -webkit-user-select     : none;
    -ms-user-select         : none;
    user-select             : none;
}
.BOARD > .COLUMN,
.BOARD > .COLUMN .COLUMN_PAYLOAD {
    display         : flex;
    flex-direction  : column;
    align-items     : stretch;
}
.BOARD > .COLUMN > * {
    flex-grow       : 1;
    background      : #e9e7e7;
    margin-bottom   : 1rem;
    border-radius   : 1rem;
    border          : 1px solid #e6e4e4;
    box-shadow      : rgba(149, 157, 165, 0.1) 0 0 0.3rem;
}
.BOARD .TARGET {
    flex-grow       : 1;
    margin-bottom   : 1rem;
    min-height      : 3rem
}
.BOARD .TARGET_HEADER,
.BOARD .TARGET_HEADER h3 {
    margin          : 0;
    padding         : 0.45rem 0.5rem 0.1rem;
    border          : 0;
    box-shadow      : none;
    text-align      : left;
    font-size       : 100%;
}
.BOARD .TARGET_HEADER .PLUS {
    display         : inline-flex;
    padding         : 0.4rem 0.4rem 0.35rem;
    color           : #888 !important;
}

/* INDIVIDUAL CARDS */
.BOARD .CARD {
    margin          : 0.5rem;
    padding         : 0.8rem;
    border-radius   : 6px;
    cursor          : move;
    font-size       : 90%;
    background      : #fff;
    color           : #000;
}
.BOARD .CARD a,
.BOARD .CARD a:hover {
    color           : #000;
    text-decoration : none;
    outline         : none !important;
}
.BOARD .CARD .PROGRESS,
.BOARD .TARGET_HEADER .PROGRESS {
    float           : right;
    margin          : -0.5rem -0.45rem 0 0;
    font-size       : 85%;
    font-weight     : normal;
    color           : #888;
}
.BOARD .TARGET_HEADER .PROGRESS {
    color: #555;
}
.BOARD .TARGET_HEADER .PROGRESS_BAR,
.BOARD .TARGET_HEADER .PROGRESS_BAR > * {
    height          : 7px;
    border-radius   : 3px;
    margin          : 0.5rem 0 0;
    background      : #ddd;
}
.BOARD .TARGET_HEADER .PROGRESS_BAR > * {
    background      : #555 !important;
}
.BOARD .TARGET_HEADER .BADGE.DECENT {
    background      : transparent;
    color           : #222;
}

/* INDIVIDUAL CARDS DURING DRAGGING */
.BOARD div.DRAGGING {
    background      : rgb(64, 64, 64);
    color           : #fff !important;
}
.BOARD div.DRAGGING a {
    color           : #fff !important;
}

/* SWIMLANE NAMES */
.BOARD .SWIMLANE > * {
    writing-mode        : tb;
    text-orientation    : sideways;
    transform           : rotate(180deg);
    text-transform      : uppercase;
    letter-spacing      : 0.05rem;
    font-size           : 85%;
    color               : #444;
    margin              : 0 0 1rem -0.5rem;
    padding             : 0.5rem 0;
}



/*
 * HIDE EVERYTHING RELATED TO GRID
 */
#CHECKLIST .a-IG-header,
#CHECKLIST .a-GV-footer,
#CHECKLIST_ig_content_container .a-GV-hdr,
#CHECKLIST_ig_content_container .a-GV-footer,
#CHECKLIST_ig_content_container .js-stickyWidget-placeholder {
    display         : none !important;
}
#CHECKLIST_ig_content_container .a-IG {
    border          : 0 !important;
}
#CHECKLIST {
    margin-top      : 0.5rem;
}
#CHECKLIST * {
    border          : 0 !important;
    box-shadow      : none !important;
    background      : transparent !important;
}
#CHECKLIST td.CHECKLIST_DONE {
    padding         : 0.7rem 0 0.4rem 0.5rem;
}
#CHECKLIST .CHECKLIST_BOX {
    margin-bottom   : -0.5rem;
}
#CHECKLIST .CHECKLIST_ITEM {
    border-bottom   : 1px dotted #333 !important;
    padding-left    : 0;
    padding-right   : 0;
}
#CHECKLIST .CHECKLIST_ITEM.LEVEL1 { padding-left : 1.5rem !important; }
#CHECKLIST .CHECKLIST_ITEM.LEVEL2 { padding-left : 3.0rem !important; }
#CHECKLIST .CHECKLIST_ITEM.LEVEL3 { padding-left : 4.5rem !important; }
#CHECKLIST .CHECKLIST_ITEM.LEVEL4 { padding-left : 6.0rem !important; }
#CHECKLIST .CHECKLIST_ITEM.LEVEL5 { padding-left : 7.5rem !important; }

#CHECKLIST .CHECKLIST_ORDER {
    color           : #888;
}
#CHECKLIST .CHECKLIST_BOX .apex-item-single-checkbox {
    padding         : 3px 0 0 0.6rem;
}
#CHECKLIST .a-GV-cell.is-changed:not(.is-active):before,
#CHECKLIST .a-GV-row.is-updated .a-GV-selHeader:before {
    display         : none !important;
}
#CHECKLIST .a-GV-w-scroll {
    margin-left     : -0.6rem;
}



/*
 * CUSTOM NAV - WORK IN PROGRESS
 */
#t_Header > #top_header > nav ul li.MANUAL a {
    display: block;
    padding         : 0.7rem 0.9rem 0 !important;
    white-space     : nowrap;
    height          : 2.4rem;
    line-height     : 1rem;
    font-size       : 1rem;
}
#t_Header > #top_header > nav ul li.MANUAL a:hover {
    background      : #222;
}

#MENU_SEARCH {
    background      : #eee;
    color           : #000 !important;
    border          : 1px solid #222;
    border-radius   : 10px 10px;
    padding         : 0.5rem 1rem !important;
    margin          : 0.25rem 1rem;
    width           : 14rem;
    height          : 3rem;
    font-size       : 1rem;
}
#MENU_SEARCH:focus {
    /*outline         : dotted #fff;*/
}



#t_Header > #top_header > nav ul li.MANUAL {
    cursor          : default;
}
#t_Header > #top_header > nav ul li.MANUAL .ROW {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap; 
    align-items     : flex-start;
}
#t_Header > #top_header > nav ul li.MANUAL .M1 {
    height          : 3rem;
    padding         : 1rem 2rem 0 0.9rem !important;
    white-space     : nowrap;
    line-height     : 1rem;
    font-size       : 1rem;
}
#t_Header > #top_header > nav ul li.MANUAL .M2 {
    padding-left    : 2.5rem !important;
    padding-right   : 2rem !important;
}
#t_Header > #top_header > nav ul li.MANUAL .M3,
#t_Header > #top_header > nav ul li.MANUAL .M4 {
    padding-left    : 3.7rem !important;
    padding-right   : 1.5rem !important;
}
#t_Header > #top_header > nav ul li.MANUAL .M2 span {
    font-size       : 0.85rem !important;
}
#t_Header > #top_header > nav ul li.MANUAL .M3 span,
#t_Header > #top_header > nav ul li.MANUAL .M4 span {
    font-size       : 0.85rem !important;
}
#t_Header > #top_header > nav ul li.MANUAL .M4 {
    padding-left    : 4.9rem !important;
}

#t_Header > #top_header > nav ul li.MANUAL a.ACTIVE {
    background      :#222;
}

#t_Header > #top_header > nav ul li.MANUAL .M1 span.fa {
    padding-top     : 0.15rem !important;
}

