/*
 * KANBAN DRAG AND DROP GRID
 */
.BOARD {
    width                   : 100%;
    display                 : grid;
    grid-template-columns   : 0 repeat(6, minmax(300px, 1fr)); /* repeat # overridden on tag */
    grid-auto-rows          : max-content;
    grid-column-gap         : 1rem;
    grid-row-gap            : 0;
    padding                 : 0;
    -webkit-user-select     : none;
    -ms-user-select         : none;
    user-select             : none;
}
.TARGET {
    min-height                  : 3rem;
    border-bottom-left-radius   : 12px;
    border-bottom-right-radius  : 12px;
    border-bottom               : 0.5rem solid #e9e7e7;
    margin-bottom               : 1rem;
}
.TARGET,
.TARGET_LIKE {
    background      : #e9e7e7;
    min-height      : 3rem;
}
.TARGET_LIKE,
.TARGET_LIKE h3 {
    margin          : 0;
    padding         : 0.45rem 0.5rem 0.1rem;
    border          : 0;
    box-shadow      : none;
    text-align      : left;
    font-size       : 100%;
}
.TARGET_LIKE {
    border-top-left-radius  : 12px;
    border-top-right-radius : 12px;
}

/* INDIVIDUAL CARDS */
.TASK {
    margin          : 0.5rem;
    padding         : 0.8rem;
    border-radius   : 6px;
    cursor          : move;
    font-size       : 90%;
    background      : #fff;
    color           : #000;
}
.TASK a,
.TASK a:hover {
    color           : #000;
    text-decoration : none;
    outline         : none !important;
}
.TASK .PROGRESS,
.TARGET_LIKE .PROGRESS {
    float           : right;
    margin          : -0.5rem -0.45rem 0 0;
    font-size       : 85%;
    font-weight     : normal;
    color           : #888;
}
.TARGET_LIKE .PROGRESS {
    color: #555;
}
.TARGET_LIKE .PROGRESS_BAR {
    background      : #ddd;
    border-radius   : 3px;
    margin          : 0.5rem 0 0;
}
.TARGET_LIKE .PROGRESS_BAR > * {
    height          : 6px;
    background      : #555 !important;
    border-radius   : 3px;
}
.TARGET_LIKE .BADGE.DECENT {
    background      : transparent;
    color           : #222;
}

/* INDIVIDUAL CARDS DURING DRAGGING */
div.DRAGGING {
    background      : rgb(64, 64, 64);
    color           : #fff !important;
}
div.DRAGGING a {
    color           : #fff !important;
}

/* SWIMLANE NAMES */
.SWIMLANE > * {
    writing-mode        : tb;
    text-orientation    : sideways;
    transform           : rotate(180deg);
    text-transform      : uppercase;
    letter-spacing      : 0.05rem;
    font-size           : 85%;
    color               : #444;
    margin              : 0 0 1rem -0.5rem;
    padding             : 0.5rem 0;
}



/*
 * HIDE EVERYTHING RELATED TO GRID
 */
#CHECKLIST .a-IG-header,
#CHECKLIST .a-GV-footer,
#CHECKLIST_ig_content_container .a-GV-hdr,
#CHECKLIST_ig_content_container .a-GV-footer,
#CHECKLIST_ig_content_container .js-stickyWidget-placeholder {
    display         : none !important;
}
#CHECKLIST_ig_content_container .a-IG {
    border          : 0 !important;
}
#CHECKLIST {
    margin-top      : 0.5rem;
}
#CHECKLIST * {
    border          : 0 !important;
    box-shadow      : none !important;
    background      : transparent !important;
}
#CHECKLIST .CHECKLIST_BOX {
    margin-bottom   : -0.5rem;
}
#CHECKLIST .CHECKLIST_ITEM {
    border-bottom   : 1px dotted #333 !important;
    padding-left    : 0;
    padding-right   : 0;
}
#CHECKLIST .CHECKLIST_BOX .apex-item-single-checkbox {
    padding         : 3px 0 0 0.6rem;
}
#CHECKLIST .a-GV-cell.is-changed:not(.is-active):before,
#CHECKLIST .a-GV-row.is-updated .a-GV-selHeader:before {
    display         : none !important;
}
#CHECKLIST .a-GV-w-scroll {
    margin-left     : -0.6rem;
}



/* RIGHT ALIGN USER COMMENTS */
#COMMENTS .t-Comments--chat li.OTHERS .t-Comments-icon {
    margin-left     : 2rem;
}

/* FIX TRASH ICON ALIGNMENT */
#COMMENTS span.t-Comments-actions {
    display         : block;
    float           : right;
    margin          : 0.25rem 0 -0.25rem;
}



/*
 * CUSTOM NAV - WORK IN PROGRESS
 */
#t_Header > #top_header > nav ul li.MANUAL a {
    display: block;
    padding         : 0.7rem 0.9rem 0 !important;
    white-space     : nowrap;
    height          : 2.4rem;
    line-height     : 1rem;
    font-size       : 1rem;
}
#t_Header > #top_header > nav ul li.MANUAL a:hover {
    background      : #222;
}

#MENU_SEARCH {
    background      : #eee;
    color           : #000 !important;
    border          : 1px solid #222;
    border-radius   : 10px 10px;
    padding         : 0.5rem 1rem !important;
    margin          : 0.25rem 1rem;
    width           : 14rem;
    height          : 3rem;
    font-size       : 1rem;
}
#MENU_SEARCH:focus {
    /*outline         : dotted #fff;*/
}

